/* Global Variables */

/* Color
-------------------------- */
$--color-title: #303233 !default;
$--color-main: #ff6700 !default;
$--color-error: #ff2020 !default;
$--color-placeholder: #aaaeb3 !default;
$--color-background: #f5f6f7 !default;

$--color-gray-lighter: #f0f2f5 !default;
$--color-gray-light: #e6ecf2 !default;
$--color-gray-normal: #aaaeb3 !default;
$--color-gray-deep: #616366 !default;
$--color-gray-deeper: #303233 !default;

$--color-skeleton-deep: #edeff0 !default;
$--color-skeleton: #f7f9fa !default;

/* Border
-------------------------- */
$--border-main: 1px solid $--color-gray-light !default;
