@charset "UTF-8";
body {
  padding: 0;
  margin: 0;
}
.list_collapse .list_collapse_item {
  margin-bottom: 0.32rem;
}
.list_collapse .list_collapse_item .van-cell__title {
    font-size: 0.45333rem;
    color: #333333;
}
.list_collapse .list_collapse_item .van-cell__value {
    font-size: 0.42667rem;
    color: #999999;
}
.list_collapse .list_collapse_item .van-collapse-item__content {
    padding: 0px !important;
}
.list_collapse .check_box {
  margin-right: 0.22667rem;
}
.list_collapse .check_box .van-checkbox__icon {
    font-size: 0.46667rem !important;
}
.list_collapse .check_box .van-checkbox__icon .van-icon-success:before {
      width: 0.46667rem;
      height: 0.46667rem;
}
.position-box {
  height: 15.01333rem;
  position: fixed;
  top: 1.17333rem;
  left: 0;
  right: 0;
  bottom: 0;
}
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
.position-box {
      height: 18.02667rem !important;
}
.position-box .scroll-content:first-child {
      padding-bottom: 2.66667rem;
}
}
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
.position-box {
      height: 20.26667rem !important;
}
.position-box .scroll-content:first-child {
      padding-bottom: 2.66667rem;
}
}
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
.position-box {
      height: 20.26667rem !important;
}
.position-box .scroll-content:first-child {
      padding-bottom: 2.66667rem;
}
}
.position-box .scroll-content:first-child {
    padding-bottom: 2.66667rem;
}
.position-box .pulldown-wrapper {
    z-index: -1;
}
.position-box .pulldown-wrapper .after-trigger {
      font-size: 0px;
}
.position-box .pullup-wrapper {
    display: none;
}
.position-box .pullup-wrapper .before-trigger {
      font-size: 0;
}
.no-data {
  font-size: 0.42667rem;
  height: 15.01333rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*主轴居中对齐*/
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*侧轴居中对齐*/
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body[data-v-35ed3cb8] {
  padding: 0;
  margin: 0;
}
.accessoriesList[data-v-35ed3cb8] {
  height: 15.01333rem;
}
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
.accessoriesList[data-v-35ed3cb8] {
      height: 18.02667rem !important;
}
}
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
.accessoriesList[data-v-35ed3cb8] {
      height: 20.26667rem !important;
}
}
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
.accessoriesList[data-v-35ed3cb8] {
      height: 20.26667rem !important;
}
}
.van-nav-bar[data-v-35ed3cb8] {
  line-height: 1.17333rem !important;
  height: 1.17333rem !important;
}
.title[data-v-35ed3cb8] {
  background-color: #B51A1A;
}
.title .van-nav-bar__title[data-v-35ed3cb8] {
    font-size: 0.48rem;
    color: #ffffff;
}
.title .van-nav-bar__left[data-v-35ed3cb8],
  .title .van-nav-bar__right[data-v-35ed3cb8] {
    color: #ffffff;
    font-size: 0;
}
.title .van-nav-bar__left .van-nav-bar__text[data-v-35ed3cb8],
    .title .van-nav-bar__right .van-nav-bar__text[data-v-35ed3cb8] {
      color: #fff;
      font-size: 0.42667rem;
      font-weight: 500;
}
.title .van-nav-bar__left .van-icon-arrow-left[data-v-35ed3cb8],
    .title .van-nav-bar__right .van-icon-arrow-left[data-v-35ed3cb8] {
      color: #fff;
      font-size: 0.42667rem;
}

