.van-swipe {
  position: relative;
  overflow: hidden;
  -webkit-user-select: none;
          user-select: none;
}
.van-swipe__track {
  height: 100%;
}
.van-swipe__indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.van-swipe__indicators--vertical {
  top: 50%;
  bottom: auto;
  left: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.van-swipe__indicators--vertical .van-swipe__indicator:not(:last-child) {
  margin-bottom: 6px;
}
.van-swipe__indicator {
  width: 6px;
  height: 6px;
  background-color: #ebedf0;
  border-radius: 100%;
  opacity: 0.3;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.van-swipe__indicator:not(:last-child) {
  margin-right: 6px;
}
.van-swipe__indicator--active {
  background-color: #1989fa;
  opacity: 1;
}

.van-swipe-item {
  float: left;
  height: 100%;
}

.van-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 85%;
  overflow: hidden;
  font-size: 16px;
  background-color: #fff;
  border-radius: 4px;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.van-dialog__header {
  padding-top: 25px;
  font-weight: 500;
  text-align: center;
}
.van-dialog__header--isolated {
  padding: 25px 0;
}
.van-dialog__message {
  max-height: 60vh;
  padding: 25px;
  overflow-y: auto;
  font-size: 14px;
  line-height: 1.5;
  white-space: pre-wrap;
  text-align: center;
  -webkit-overflow-scrolling: touch;
}
.van-dialog__message--has-title {
  padding-top: 12px;
  color: #7d7e80;
}
.van-dialog__message--left {
  text-align: left;
}
.van-dialog__message--right {
  text-align: right;
}
.van-dialog__footer {
  overflow: hidden;
  -webkit-user-select: none;
          user-select: none;
}
.van-dialog__footer--buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
.van-dialog__footer--buttons .van-button {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
          flex: 1;
}
.van-dialog .van-button {
  border: 0;
}
.van-dialog__confirm,
.van-dialog__confirm:active {
  color: #1989fa;
}
.van-dialog-bounce-enter {
  -webkit-transform: translate3d(-50%, -50%, 0) scale(0.7);
          transform: translate3d(-50%, -50%, 0) scale(0.7);
  opacity: 0;
}
.van-dialog-bounce-leave-active {
  -webkit-transform: translate3d(-50%, -50%, 0) scale(0.9);
          transform: translate3d(-50%, -50%, 0) scale(0.9);
  opacity: 0;
}

