body[data-v-9129daf4] {
  padding: 0;
  margin: 0;
}
.cell-group-box[data-v-9129daf4] {
  margin-top: 0;
}
.detailList[data-v-9129daf4] {
  margin-top: 1.17333rem;
  margin-bottom: 1.6rem;
}

